# Ignore player save data
data/player_data.txt

# Ignore Python cache
__pycache__/

# Ignore helper scripts
repair.bat
push_update.bat

# Ignore directory opener
open_dir.bat

# Ignore the version updater
new_version.bat

# Ignore the update plans
plans